<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to EasyDay!<title>
  <head>

  <body>
    <h1>Into to Node and MongoDB<&#47;h1>
    <form method="post" action="/addname">
      <label>Enter the name of the item to be added:<&#47;label><br>
      <input type="text" name=name" placeholder="Enter first name..." required>
      <label>Enter the price of the item to be added:<&#47;label><br>
      <input type="text" name="price" placeholder="Enter last name..." required>
      <input type="submit" value="Add Item">
    </form>
  </body>
</html>